<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Proyecto-LP4</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/citas" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Citas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/facturas" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/pacientes" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/tratamientos" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Tratamientos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuarios" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/usuarioroles" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Usuarios Roles
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
